# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.d

#Android SDK && NDK
.settings/
bin/
libs/
obj/

local.properties
proguard-project.txt

